:root {
    --yell: #FEA116;
    --hov:#f3b64e;
    --ps-width:44px;
    --ps-height: 2.2px;
}
/* 450 px */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
}

header {
    width: 100%;
    padding-bottom: 10%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.9)0%, rgba(0, 0, 0, 0.9)100%), url("../photos/main-bg.jpeg");
    background-repeat: no-repeat;
    background-size: COVER;
    background-position: center;
}
#privacy,#menu
{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5)0%, rgba(0, 0, 0, 0.5)100%), url("../photos/privacy.jpg");
}
#contact-sec1
{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5)0%, rgba(0, 0, 0, 0.5)100%), url("../photos/contact.jpg");
}
#about-sec1
{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5)0%, rgba(0, 0, 0, 0.5)100%), url("../photos/about.jpg");
}
#booking-sec1
{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5)0%, rgba(0, 0, 0, 0.5)100%), url("../photos/booking.jpg");
}
#service_sec1
{
    background-image:linear-gradient(rgba(0, 0, 0, 0.5)0%, rgba(0, 0, 0, 0.5)100%),url("../photos/dish.jpg");
}

/* for gap letter spacing in px */
nav
{
    position: fixed;
    width: 100%;
    background-color: black;
    opacity: .9;
    /* margin: 0 auto; */
    z-index: 1;
}
nav h2,
nav i {
    color: var(--yell);
    padding: 5px 10px;
    font-size: 3rem;
}

.inner {
    margin: 0 auto;
    width: 90%;
    /* padding-bottom: 20px; */
}


/* Flex property section here in commonality All the best try devs;) */

nav .inner,
nav ul,
.sec1_p2,
.sec2 .inner,
.top,
.bottom,
.sec3 .inner,
.box_sec,
.box_sec3,
.box_sec3 .div48,
.con4,
.con4 .div30,
.con4-part,
.con4-mainn,
.con4-main,
.sec5 .innerr,
.div50 .inner,
.s6-cards,
.name-card,
.sec7-con,
.footr-con,.div100,
footer .bottom,
footer .bottom ul,
.contact-sec2 form .inner,
.full {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* background-color: black; */
}
.main-center
{
    width: 100%;
    text-align: center;
 padding-top: 180px;
   color: white;
}
.main-center h1
{
    font-size: 3rem;
}
.bread
{
    margin: 30px 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    font-size: 1.3rem;
}
.bread a 
{
    text-decoration: none;
    color: var(--yell);
}
.burger +.burger::before
{
    content: ">";
    padding: 0 8px;
    color: #6c757d;
}


nav ul li {
    list-style: none;
    /* display: inline-block; */
    padding: 45px 0 10px 0;
    font-weight: bold;
    text-transform: uppercase;
    /* background-color: gray; */
    color: white;
    text-align: right;
    /* margin: 0 2px; */
}

ul li a {
    text-decoration: none;
    color: white;
}

#key_nav {
    color: var(--yell);
}


/* button {
width: 120px;
margin-top: 30px;
height: 45px;
background-color: #FEAF39;
} */

.nav_button,
.navv_button {
    /* padding: 20px 30px; */
    width: 180px;
    margin-top: 24px;
    height: 55px;
    background-color: var(--yell);
    font-weight: 500;
    font-size: 1.2rem;
    color: white;
    border: none;
    text-transform: uppercase;
}

.sec1_p2 {
    width: 100%;
    align-items: center;
    padding-top: 200px;
}

.Brazil {
    display: none;
}

.sec1_p2 h1 {
    font-size: 4rem;
    /* margin-top: 10vh; */
    padding: 80px 0 20px 0;
    color: white;
    /* font-family: "Dancing Script", cursive; */
}

.sec1_p2 p {
    color: white;
    font-size: 1.2rem;
    line-height: 1.3;
    /* margin-bottom: 5vh; */
    padding-bottom: 40px;
}

.div48 {
    width: 48%;
    /* background-color: red; */
}

.div48 img {
    width: 80%;
    animation: rot 30s linear infinite;
}

@keyframes rot
{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}

.left {
    width: 40%;
    padding: 15px 0 10px 0;
    /* background-color: gray; */
}

.right {
    width: 50%;
    /* background-color: aqua; */
}


/* sec 2 */

.sec2 {
    width: 100%;
    background-color: #f5f5f5f5;
    padding: 40px 0;
}

.cards {
    width: 24%;
    padding: 30px 20px;
    background-color: #fff;
    line-height: 2;
    margin: 40px 0;
    /* transition-duration: 2ms; */
    /* border-radius: 20px; */
}

.cards h2 {
    font-size: 1.6rem;
}

.cards p {
    font-size: 1rem;
}

.cards i {
    color: var(--yell);
    margin-bottom: 40px;
    font-size: 80px;
}

.sec2 .cards:hover i,
.sec2 .cards:hover {
    background-color: var(--yell);
    color: #fff;
    transition-duration: .5s;
}


/* sec3 */

button:hover {
    transition-duration: .3s;
    background-color: var(--hov);
    transform: scale(1.01);
}

.sec3,
.sec4,
.sec5,
.sec6,
.sec7 {
    width: 100%;
    background-color: #f5f5f5f5;
}
.sec3 .inner,
.sec4 .inner,
.sec5 .innerr,
.sec6 .inner,
.sec7 .inner
{
    padding: 20px 0;
}
.pics,
.sec3-cont,
.b-img,
.s-img {
    width: 48%;
}

.b-img:hover,
.s-img:hover {
    transform: scale(1.1);
    transition-duration: .5s;
}

.b-img img,
.top,
.bottom {
    width: 100%;
}

.s-img img {
    width: 80%;
    /* height: 300px; */
}

.div48 .div48 h2 {
    font-size: 2rem;
}

.div48 .div48 h6 {
    font-size: 1.3rem;
}

.top {
    align-items: end;
}

.bottom {
    margin-top: 20px;
}

.sec3 .inner .pics {
    display: flex;
    flex-wrap: wrap;
    /* align-content: space-between; */
    /* justify-content: space-between; */
}

.sec3-cont {
    padding: 50px 0;
    /* why padding in % affect whole stuff */
    /* background-color: green; */
    line-height: 1.5;
}

.sec3-cont h2 {
    font-size: 3rem;
    font-family: Lobster;
    font-weight: lighter;
}

.sec3-cont h3 {
    font-size: 1.2rem;
    font-family: "Pacifico", cursive;
    color: var(--yell);
    position: relative;
}
.sec3-cont h3::after
{
    content: "";
    margin-left: 10px;
    top: 50%;
    width: var(--ps-width);
    height: var(--ps-height);
    background-color: var(--yell);
    position: absolute;
}

.sec3-cont .box_sec3 h3 {
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sec3-cont p {
    line-height: 1.6;
    color: grey;
    margin-top: 20px;
}

.box_sec3 {
    margin: 40px 0;
}

.num {
    color: var(--yell);
    font-size: 4rem;
    position: relative;
}
.num::before
{
    position: absolute;
    width: 5px;
    background-color: var(--yell);
    content: "";
    height: 100%;
    left: -20px;
}
.mr {
    margin-left: 20px;
}

.bottom .s-img {
    text-align: right;
}


/* .bottom .s-img {
display: flex;
justify-content: end;
align-content: flex-start !important;
flex-wrap: wrap;
} */

.sec4-heads {
    text-align: center;
}

.sec4-heads .pi {
    color: var(--yell);
    font-family: "Pacifico", cursive;
    font-size: 1.5rem;
    position: relative;
}
.sec4-heads .pi::before
{
    position: absolute;
    background-color: var(--yell);
    width: var(--ps-width);
    height: var(--ps-height);
    content: "";
    margin-left: -40px;
    top: 50%;
}

.sec4-heads .pi::after
{
    position: absolute;
    background-color: var(--yell);
    width: var(--ps-width);
    height: var(--ps-height);
    content: "";
    margin-right: 20px;
    top: 50%;
}


.sec4-heads h1 {
    font-size: 3rem;
    margin-bottom: 40px;
}

.con4 {
    width: 40%;
    margin: 40px auto;
    /* padding: 40px 0; */
    /* background-color: #A7171A; */
    padding-bottom: 10px;
    border-bottom: .1px solid gray;
}

.div30 {
    width: 30%;
    /* background-color: #FEA116; */
}

.con4 i {
    color: var(--yell);
    /* padding: 10px 10px; */
    font-size: 2.5rem;
}

.con4-part {
    width: 100%;
    margin-top: 20px;
    align-content: space-between;
}

.pic {
    width: 10%;
}

.pic img {
    width: 100%;
}

.con4-txt {
    width: 87%;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}

.lefty {
    text-align: left;
}

.righty {
    text-align: right;
    padding-left: 40px;
}

.con4-mainn {
    width: 80%;
    padding-bottom: 10px;
    border-bottom: .2px solid;
}

.div50 {
    width: 50%;
}

#txt {
    color: var(--yell);
    width: 10%;
}

.con4-txt {
    display: flex;
    flex-wrap: wrap;
    align-content: space-evenly;
}


/* sec5 */

.sec5 .innerr h2 {
    width: 100%;
    margin-top: 40px;
    position: relative;
}
.sec5 .innerr h2::after
{
    position: absolute;
    background-color: var(--yell);
    width: var(--ps-width);
    height: var(--ps-height);
    content: "";
    margin-left: 10px;
    top: 50%;
}
.sec5 .innerr .div500 {
    width: 50%;
    background-image: url("../photos/formm.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* height: 80vh; */
}

form {
    background-color: #0F172B;
    padding: 27px 20px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

form input {
    width: 95%;
    height: 70px;
    border-radius: 5px;
    padding-left: 20px;
}
.for input:focus
{
    border: none;
}

form textarea {
    width: 100%;
    height: 100px;
    margin-bottom: 40px;
    padding:20px 0 0 20px;
    text-transform: capitalize;
    color: rgb(170, 156, 156);
}

form h2,
footer b {
    color: var(--yell);
    font-family: "Pacifico", cursive;
    font-size: 2rem;
    text-transform: capitalize;
}

form h1 {
    color: #fff;
    font-size: 2.5rem;
}

.button-form {
    width: 100%;
    background-color: var(--yell);
    color: white;
    height: 80px;
    font-size: 1rem;
    text-transform: uppercase;
}

.sec6 {
    width: 100%;
    /* margin: 0% auto; */
    text-align: center;
    background-color: #f5f5f5f5;
}

.sec6 .pics {
    width: 90%;
    margin: 0% auto;
    overflow: hidden;
    border-radius: 100%;
}

.sec6 .pics:hover img {
    transform: scale(1.1);
    transition-duration: .5s;
}

.sec6-head {
    text-align: center;
    line-height: 2;
    position: relative;
}
.sec6-head h3::before,.sec6-head h3::after
{
    position: absolute;
    background-color: var(--yell);
    width: var(--ps-width);
    height: var(--ps-height);
    content: "";
    top: 18%;
}
.sec6-head h3::before
{
    margin-left: -60px;
}
.sec6-head h3::after
{
    margin-left: 25px;
}

.sec6-head h3,
.txt p {
    color: var(--yell);
    font-family: "Pacifico", cursive;
    font-size: 1.5rem;
    letter-spacing: 2px;
}

.sec6-head h2,
.txt h1 {
    font-size: 2.5em;
    letter-spacing: 2px;
    margin-bottom: 40px;
}

.s6-cards .cardss .pics img {
    width: 100%;
    border-radius: 100%;
    /* margin: 0 auto; */
}

.s6-cards .cardss {
    width: 22%;
    /* text-align: center; */
    background-color: white;
    padding: 40px 10px;
}

.cardss b {
    font-size: 1.3rem;
    line-height: 2;
}

.s6-cards {
    text-align: center;
}


/* sec 7 */

.sec7 {
    width: 100%;
}

.txt {
    text-align: center;
    line-height: 2;
}
.sec7 .inner .txt p
{
    position: relative;
    /* background:rebeccapurple; */
    display: inline-block;
}
.sec7 .inner .txt p::before,.sec7 .inner .txt p::after
{
    position: absolute;
    background-color: var(--yell);
    width: var(--ps-width);
    height: var(--ps-height);
    content: "";
    top: 50%;
    transform: translateX(-50%);
}
.sec7 .inner .txt p::before
{
    left: -50px;
}
.sec7 .inner .txt p::after
{
    right: -100px;
}

.name-card {
    width: 100%;
}

.name-card-pic {
    width: 18%;
}

.name-card-pic img {
    width: 100%;
    border-radius: 100%;
}

.name-card-con {
    width: 75%;
    line-height: 1;
    text-transform: capitalize
}

.sec7-con .div30 {
    border: .1px solid grey;
    padding: 20px 0;
}

.sec7-con .div30 i {
    color: var(--yell);
    font-size: 60px;
}

.sec7-con .div30 p {
    margin: 20px 0;
    line-height: 1.2;
    letter-spacing: 1.5px;
    font-size: 1.2rem;
    color: gray;
}


/* footr */

footer {
    width: 100%;
    background-color: #0F172B;
    font-size: 1.5rem;
}

footer .cards {
    background-color: #0F172B;
    color: aliceblue;
}

.footr-con {
    border-bottom: 1px solid #fff;
}

.footr-con ul li {
    list-style: none;
}

footer .bottom {
    font-size: 1rem;
    color: #fff;
}
.confidante
{
    border-left: 1px solid white;
    /* opacity: .6; */
    /* margin: 20px; */
    padding: 0 0 0 18px;
}
footer .bottom ul li {
    list-style: none;
    padding: 2px 0;
    text-transform: uppercase;
    border-right: .1 solid black;
}
footer .cards ul li a
{
    margin-left: 10px;
}
footer .cards ul li::marker
{
    content: ">";
}
footer .cards b
{
    position: relative;
}
footer .cards b::after
{
    content: "";
    height: var(--ps-height);
    width: var(--ps-width);
    position: absolute;
    background-color: var(--yell);
    top: 50%;
    margin-left: 18px;
}

footer .cards i {
    font-size: 1rem;
    margin-right: 10px;
    color: white;

}
footer .cards .ico i
{
    background-color: transparent;
    padding: 10px;
    border-radius: 100%;
    border: 1px solid white;
}
footer .cards .ico i:hover
{
    background-color: white;
    color: var(--yell);
    transition-duration: .4s;
    cursor: pointer;
}
.cards input {
    width: 70%;
    height: 40px;
    border: none;
    padding: 0 20px;
}
.cards input:focus 
{
     border: none;
  outline: none;
}

footer i {
    color: var(--yell);
}

.cards button {
    height: 60px;
    width: 27%;
    border: none;
    background-color: var(--yell);
    color: #fff;
}

.for {
    width: 100%;
    background-color: #fff;
    /* padding: 20px 0; */
}

.cards ul li {
    text-transform: capitalize;
    color: white;
}

.contact-sec2 h2,.contact-sec2 h4
{
    font-size: 1.2rem;
    font-family: "Pacifico", cursive;
    color: var(--yell);
    position: relative;
    margin-bottom: 20px;
}
.contact-sec2 form .inner
{
gap:0;
}
.contact-sec2 form .inner
{
    margin-top: 10px;
}
.contact-sec2 i 
{
    color: var(--yell);
    margin-right: 10px;
    font-size: 20px;
}
.contact-sec2 .inner
{
    text-align: center;
    margin-top: 80px;
}
.contact-sec2 .inner .div30 
{
    text-align: start;

}
.contact-sec2 .inner h1
{
    margin-bottom: 40px;
}
.contact-sec2 .inner h4::after,.contact-sec2 .inner h2::before,.contact-sec2 .inner h2::after
{
   
    content: "";
    width: 40px;
    position: absolute;
    background-color: var(--yell);
    left: 80px;
    height: 2px;
    top: 17px;
}
.contact-sec2 .inner h2::before{
    left:42%;
}
.contact-sec2 .inner h2::after
{
    left: 55%;
}
.contact-sec2 form
{
    background-color: white;
}
.mt-5 {margin: 50px 0;}
#terms
{
    margin: 20px 0;
}
#terms h1{
    font-size: 3rem;
}
#terms p 
{
    margin: 0 auto;
    width: 60%;
    font-size: 1.2rem;
    font-family: helvetica,sans-serif;
    line-height: 2;
    letter-spacing: 2;
}
.sec5 .innerr
{
    padding: 0;
}
@media (max-width:2560px)
{
    html
    {
        font-size: 30px;
    }
    .nav_button,.navv_button
    {
        width: 280px;
        height: 80px;
    }
    .cards button
    {
        height: 108px;
    }
}
@media (max-width:1440px)
{
    html
    {
        font-size: 18px;
    }
    .nav_button,.navv_button
    {
        width: 180px;
        height: 60px;
    }
    .cards button
    {
        height: 63px;
    }
}
@media (max-width:1920px)
{
    html {
        font-size: 16px;
        font-family: 'Nunito', sans-serif;
    }
    .cards button
    {
        height: 54px;
    }
    .navv_button
    {
        width: 180px;
        height: 60px;
    }
}
@media (max-width:1024px)
{
    html 
    {
        font-size: 12px;
    }
    .cards button
    {
        height: 41px;
    }
    .navv_button
    {
        display: none;
    }
}
@media (max-width: 992px) {
    .inner {
        width: 92%;
    }
    .left {
        width: 30%;
    }
    .right {
        width: 70%;
    }
    html {
        font-size: 15px;
    }
    .navv_button {
        /* padding: 20px 30px; */
        width: 180px;
        margin-top: 25px;
        height: 55px;
        color: white;
    }
    nav h2 {
        font-size: 2rem;
    }
    .box_sec3 .div48 h2 {
        font-size: 1.7rem;
    }
    .box_sec3 {
        width: 100%;
    }
    .con4 {
        width: 50%;
    }
    .bottom .div30 {
        width: 40%;
    }
}

@media (max-width:768px) {
    html {
        font-size: 16px;
    }
    nav .right {
       transform: translateX(100%);
       flex-direction: column;
       display: flex;
       position: fixed;
       width: 100%;
       top: 80px;
       transition-duration: .5s;
       background-color: black;
       opacity: .9;
       height: 100vh;
       justify-content: start;
       
    }
    nav ul li 
    {
        text-align: center;
    }
    .navmov 
    {
        transform: translateX(0%) !important;
    }
    .Brazil {
        display: block;
        margin-top: 20px;
    }
    .inner {
        width: 89%;
    }
    .sec1_p2 {
        text-align: center;
    }
    .sec1_p2 .div48 {
        margin-bottom: 40px;
    }
    .cards,
    .name-card,
    .bottom .div30,
    .con4,
    .div50,
    .pics,
    .sec3-cont,
    .sec1_p2 .div48 {
        width: 100%;
    }
    .sec7-con .div30
    {
        padding: 0;
    }

     .sec5 .innerr .div500,.sec5 .innerr .div50
    {
        width: 50%;
        height: 65vh;
    }
    .cards button {
        height: 54px;
    }
    .con4-mainn .div50,
    .left {
        width: 50%;
    }
    .right {
        width: 20%;
    }
    .sec2 .cards,    .sec6 .cardss {
        width: 48%;
        margin-top: 40px;
    }
    footer .cards
    {
        margin:0;
        width: 48%;
    }
    footer ul
    {
        font-size: 1rem;
    }
    /* i,
    #key_nav {
        font-size: 10px;
    } */
    .con4 .div30 {
        width: 31%;
    }
    .sec7-con {
        text-align: center;
    }
    .con4-mainn
    {
        width: 100%;
    }
    .bottom .div30,
    .sec7-con .div30 {
        margin: 18px 0;
    }
    .cards
    {
        margin: 20px 0;
    }
}
@media (max-width:451px)
{
    html
    {
        font-size: 14px;
    }
    .sec1_p2
    {
        padding-top: 100px;
    }
    .sec2 .cards,.sec5 .innerr .div500,.sec5 .innerr .div50,.s6-cards .cardss,.sec7-con .div30,.footr-con .cards
    ,.box_sec3,.full .div48
    {
        width: 100%;
        /* normal card class failed why?
        error in this too .box_sec3 .div48 */
    }
    .left
    {
        width: 60%;
    }
    .sec3 .inner,
.sec4 .inner,
.sec6 .inner,
.sec7 .inner,.sec6-head h2
{
    padding: 8px 0;
    margin: 0 auto;
}
.box_sec3 .div48
{
    justify-content: start;
}
.sec3-cont h2
{
    font-size: 2.7rem;
}

.s3-ar
{
    margin-top: 20px;
}
.box_sec3 .div48 h2
{
    font-size: 1.6rem;
}
#med
{
    width: 20%;
}
.cards i
{
    font-size: 40px;
}
.full .div50
{
    margin-top: 20px;
}
b
{
    margin-bottom: 10px;
}
.sec5 .innerr .div50 
{
    /* padding-bottom: 20px; */
    height: 100%;
}
.contact-sec2 .inner h4::after
{
    left: 51px;
    top: 13px;
}
}
@media (max-width:320px) {
    nav h2,nav i {
        font-size: 1.7rem;
    }
        nav .right 
        {
            top: 70px;
        }

}